<div ng-controller="NewCustomerFullController as vm">
  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Επώνυμο</label>
        <div class="control">
          <input class="input" type="text" ng-model="vm.customer.lastname">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Όνομα</label>
        <div class="control">
          <input class="input" type="text" ng-model="vm.customer.firstname">
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Α.Φ.Μ.</label>
        <div class="control">
          <input class="input" ng-class="{ 'is-success': vm.customerOk, 'is-danger': vm.customerOk == false }" type="text" ng-model="vm.customer.afm" ng-change="vm.checkCustomer()">
        </div>
        <p ng-if="vm.customerOk == false" class="help is-danger">Ο πελάτης υπάρχει ήδη</p>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">ΔΟΥ</label>
        <div class="control">
          <input class="input" type="text" ng-model="vm.customer.doy">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Επάγγελμα</label>
        <div class="control">
          <input class="input" type="text" ng-model="vm.customer.profession">
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Πόλη</label>
        <div class="control">
          <input class="input" type="text" ng-model="vm.customer.city">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Οδός</label>
        <div class="control">
          <input class="input" type="text" ng-model="vm.customer.address">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Τ.Κ.</label>
        <div class="control">
          <input class="input" type="text" ng-model="vm.customer.zip">
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Τηλέφωνο</label>
        <div class="control">
          <input class="input" type="text" ng-model="vm.customer.phone">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Κινητό Τηλέφωνο</label>
        <div class="control">
          <input class="input" type="text" ng-model="vm.customer.mobile">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Κινητό Τηλέφωνο 2o</label>
        <div class="control">
          <input class="input" type="text" ng-model="vm.customer.mobile2">
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Μάρκα</label>
        <div class="control">
          <input class="input" type="text" ng-model="vm.vehicle.brand">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Μοντέλο</label>
        <div class="control">
          <input class="input" type="text" ng-model="vm.vehicle.model">
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Αρ.Κυκλοφορίας</label>
        <div class="control">
          <input class="input" ng-class="{ 'is-success': vm.vehicleOk, 'is-danger': vm.vehicleOk == false }" type="text" ng-model="vm.vehicle.plate" ng-change="vm.checkVehicle()">
        </div>
        <p ng-if="vm.vehicleOk == false" class="help is-danger">Το αυτοκίνητο υπάρχει ήδη</p>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Αρ.Πλαισίου</label>
        <div class="control">
          <input class="input" type="text" ng-model="vm.vehicle.chassis">
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Ημ/νία 1ης αδείας</label>
        <div class="control">
          <input class="input" type="text" ng-model="vm.vehicle.date">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Αρ.Κινητήρα</label>
        <div class="control">
          <input class="input" type="text" ng-model="vm.vehicle.engine">
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Κυβικά</label>
        <div class="control">
          <input class="input" type="text" ng-model="vm.vehicle.cc">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Καύσιμο</label>
        <div class="control">
          <!-- <input class="input" type="text" ng-model="vm.vehicle.fuel"> -->
          <div class="select">
            <select ng-model="vm.vehicle.fuel">
              <option value="ΒΕΝΖΙΝΗ">ΒΕΝΖΙΝΗ</option>
              <option value="ΠΕΤΡΕΛΑΙΟ">ΠΕΤΡΕΛΑΙΟ</option>
              <option value="ΒΕΝΖΙΝΗ-ΠΕΤΡΕΛΑΙΟ">ΒΕΝΖΙΝΗ - ΠΕΤΡΕΛΑΙΟ</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-link" ng-click="vm.submit()">ΕΓΓΡΑΦΗ</button>
    </div>
  </div>
</div>
